<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Mios-Flow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url }}static/src_mios_voicebot/css/bootstrap.min.css">
  <script src="{{ url }}static/src_mios_voicebot/js/jquery341.min.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/popper.min.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/bootstrap.min.js"></script>

  <script src="{{ url }}static/src_mios_voicebot/js/axios.min.js"></script>

  <script src="{{ url }}static/src_mios_voicebot/js/select2.min.js"></script>
  <link rel="stylesheet" href="{{ url }}static/src_mios_voicebot/css/select2.min.css">


  <style>
    .border-rs{
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 0px solid #000000;
      -webkit-box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
      -moz-box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
      box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
    }
    .btn-danger {
        color: #fff;
        background-color: #d5423d;
        border-color: #d5423d;
    }
    .btn-danger:hover {
        color: #fff;
        background-color: #b7322d;
        border-color: #b7322d;
    }
    .btn-danger:active {
        color: #fff;
        background-color: #b7322d;
        border-color: #b7322d;
    }
    .clicked {
      color: #fff;
      background-color: #b7322d;
      border-color: #b7322d;
    }
    #prioridades{
      display:none;
    }
  </style>
</head>
<body style="background: #f8f8f8;">

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">VoiceBot</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="../sendcampaign/">Inicio</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="../loadfile/">Cargar Data</a>       
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container mt-3">
  <h2>Carga de datos VoiceBot - {% if grupo == 'Bogota' %}Bogotá{% else %}{{ grupo }}{% endif %}</h2></br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../sendcampaign/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Carga datos</li>
    </ol>
  </nav>
  <div class="container border-rs" style="background: white;">
    <h4 class="pt-3">Cargar datos campaña CGO</h4>
    <hr/>
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="alert alert-info" role="alert">        
        <p><strong>{{order}}</strong></p>
        <p>Recuerda que para subir el archivo debe estar en formato CSV.</p>
      </div>
      {% csrf_token %}   
      <div class="form-group">
        <label for="canal_reporte">Nombre Data</label>
        <input type="text" class="form-control" name="nombre_carga"  required> 
        <label for="archivo_xlsx">Solo archivos CSV</label>
        <div class="custom-file mb-1">
            <input class="custom-file-input"  type="file" id="file" name="file" required>
            <label class="custom-file-label" for="customFile">Selecciona tu archivo ...</label>
        </div>
        <input type="submit" class="btn btn-danger float-right" style="margin-top: 20px;" value="enviar" /><br>
      </div>   
      <br>     
      <div class="row">
        <div class="col-md-12"><br>
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{message|safe}}
            </div>            
          {% endfor %}

          {% if respuesta %}
          <div class="alert alert-success" role="alert">
            <strong>{{ respuesta }}</strong><br>{{ cantidad_datos }}<br>Nombre carga: {{ nombre_carga }}
          </div>
          {% endif %}
          {% if  error_carga %}
          <div class="alert alert-danger" role="alert">
            Error en el archivo, verifique si el archivo es el correcto.
            Descripción del error: <strong>{{ error_carga }}</strong>
          </div>
          {% endif %}
          {% if error_data %}
            <div class="alert alert-danger" role="alert">
              {{ error_data }}
            </div>
          {% endif %}
        </div>
      </div> <br>
    </form>
  </div>
  
  <br><br>
  
  <div class="container border-rs" style="background: white;">
      <h4 class="pt-3">Iniciar campaña por nombre de carga de datos</h4>
      <hr/>          
      <div class="form-group">
        <label for="canal_reporte">Selecciona una de las siguientes opciones.</label>
        <select class="form-control" name="lista_cargues" id="lista_cargues" required>
          <option></option>            
          {% for nombres in lista_cargas %}
            <option value="{{ nombres }}">{{ nombres }}</option>
          {% endfor %}
        </select>
      </div> 
      <hr>
      <div id="prioridades">       
        <div class="form-group">
          <label for="">Selecciona prioridad</label>
          <select class="form-control" id="prioridad">
            <option value=""></option> 
          </select>
        </div>
        <button class="btn btn-danger float-right" id="iniciarcampania">Iniciar campaña</button>
        <br><br>
      </div>
      <script>
        $(document).ready(function(){ 
          // Initialize select2
          $("#lista_cargues").select2();
        });

        url_general = 'https://dashbots.outsourcingcos.com/';
        //url_general = 'http://127.0.0.1:8000/';

        $('#lista_cargues').change(function(){       
          $('#prioridad').empty();             
          $('#prioridad').append(`<option value=""></option>`);

          lista_cargues = $('#lista_cargues option:selected').text();
          if(lista_cargues != ''){            
            url_list_prioridades = url_general+'mios_voicebot/cgo/api/listaprioridad/?nombre_carga='+lista_cargues;
            axios.get(url_list_prioridades)
            .then(function (response) {
              res = response.data;
              console.log(res.length)
              res.forEach(element => {
                optionValue = element.prioridad
                $('#prioridad').append(`<option value="${optionValue}"> 
                                            ${optionValue} 
                                        </option>`);  
              });
            })
            .catch(function (error) {
            console.log(error);
            })
            $('#prioridades').show(1000);
          }else{            
            $('#prioridades').hide(1000);
          }
        });

        $('#iniciarcampania').click(function(){
          lista_cargues = $('#lista_cargues option:selected').text();
          prioridad = $("#prioridad").val();
          if(prioridad != ''){
            url_sendcampaign = 'mios_voicebot/cgo/sendcampaign/?lista_cargues='+lista_cargues+'&prioridad='+prioridad
            window.location.href = url_general+url_sendcampaign;
          }else{
            alert("Debe seleccionar una prioridad para poder enviar la campaña.")
          }
        });        
      </script>
    </div>
  </div>
  <br>
  <br>
  <br>
  <!-- Footer -->
  <footer id="sticky-footer" style="background: #731f1b;position: fixed; bottom: 0; width: 100%;
    height: 30px;">
      <div class="container text-center">
        <small style="color: whitesmoke">2019 - Copyright &copy; <a href="https://www.montechelo.com.co/" target="_blank" style="color: whitesmoke">Montechelo</a></small>
      </div>
    </footer>
  <!-- Footer -->

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
$(".btn-danger").click(function() {
  // Instead of directly editing CSS, toggle a class
  $(this).toggleClass("clicked");
});
</script>

</body>
</html>
