<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Mios-Flow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url }}static/src_mios_voicebot/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url }}static/src_mios_voicebot/css/font-awesome.min.css">

  <script src="{{ url }}static/src_mios_voicebot/js/jquery341.min.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/popper.min.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/bootstrap.min.js"></script>

  <script src="{{ url }}static/src_mios_voicebot/js/axios.min.js"></script>

  <script src="{{ url }}static/src_mios_voicebot/js/core.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/charts.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/dataviz.js"></script>
  <script src="{{ url }}static/src_mios_voicebot/js/animated.js"></script>

  <script src="{{ url }}static/src_mios_voicebot/js/select2.min.js"></script>
  <link rel="stylesheet" href="{{ url }}static/src_mios_voicebot/css/select2.min.css">

  <style>
    .btn-danger {
        color: #fff;
        background-color: #d5423d;
        border-color: #d5423d;
    }
    .btn-danger:hover {
        color: #fff;
        background-color: #b7322d;
        border-color: #b7322d;
    }
    .btn-danger:active {
        color: #fff;
        background-color: #b7322d;
        border-color: #b7322d;
    }
    .border-rs{
      border-radius: 5px 5px 5px 5px;
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border: 0px solid #000000;
      -webkit-box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
      -moz-box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
      box-shadow: 0px 7px 18px -9px rgba(0,0,0,1);
    }

    #chartdiv {
      width: 100%;
      height: 290px;
    }
    #chartdiv2 {
      width: 100%;
      height: 300px;
    }
    #chartdiv2 {
      width: 100%;
      height: 300px;
    }
    #prioridades{
      display:none;
    }
  </style>
</head>
<body style="background: #f8f8f8;">

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">VoiceBot</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="" onclick="location.reload();"><i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="../sendcampaign/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../loadfile/">Cargar Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container mt-3">
  <h2>Iniciar Campaña {% if grupo == 'Bogota' %}Bogotá{% else %}{{ grupo }}{% endif %}</h2></br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../sendcampaign/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lanzar campaña</li>
    </ol>
  </nav>
  <div class="container border-rs" style="background: white;">
    <h4 class="pt-3">Iniciar campaña por nombre de carga de datos</h4>
    <hr/>          
    <div class="form-group">
      <label for="canal_reporte">Selecciona una de las siguientes opciones.</label>
      <select class="form-control" name="lista_cargues" id="lista_cargues" required>
        <option></option>            
        {% for nombres in lista_cargas %}
          <option value="{{ nombres }}">{{ nombres }}</option>
        {% endfor %}
      </select>
    </div> 
    <hr>
    <div id="prioridades">       
      <div class="form-group">
        <label for="">Selecciona prioridad</label>
        <select class="form-control" id="prioridad">
          <option value=""></option> 
        </select>
      </div>
      <button class="btn btn-danger float-right" id="iniciarcampania">Iniciar campaña</button>
      <br><br>
    </div>
    <script>
        $(document).ready(function(){ 
          // Initialize select2
          $("#lista_cargues").select2();
        });
        url_general = 'https://dashbots.outsourcingcos.com/';
        //url_general = 'http://127.0.0.1:8000/'
        $('#lista_cargues').change(function(){       
          $('#prioridad').empty();             
          $('#prioridad').append(`<option value=""></option>`);

          lista_cargues = $('#lista_cargues option:selected').text();
          if(lista_cargues != ''){            
            url_list_prioridades = url_general+'mios_voicebot/tuya/api/listaprioridad/?nombre_carga='+lista_cargues;
            axios.get(url_list_prioridades)
            .then(function (response) {
              res = response.data;
              console.log(res.length)
              res.forEach(element => {
                optionValue = element.prioridad
                $('#prioridad').append(`<option value="${optionValue}"> 
                                            ${optionValue} 
                                        </option>`);  
              });
            })
            .catch(function (error) {
            console.log(error);
            })
            $('#prioridades').show(1000);
          }else{            
            $('#prioridades').hide(1000);
          }
        });

        $('#iniciarcampania').click(function(){
          lista_cargues = $('#lista_cargues option:selected').text();
          prioridad = $("#prioridad").val();
          if(prioridad != ''){
            url_sendcampaign = 'mios_voicebot/tuya/sendcampaign/?lista_cargues='+lista_cargues+'&prioridad='+prioridad
            window.location.href = url_general+url_sendcampaign;
          }else{
            alert("Debe seleccionar una prioridad para poder enviar la campaña.")
          }
        });        
      </script>
  </div>

  <br>

  {% if nombre_carga %}      
    <div id="accordionOne" class="border-rs">
        <div class="card">
            <div class="card-header" style="background-color: rgb(52, 58, 64);">
                <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                    Estado Campaña
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                <div class="card-body">
                  <div class="alert alert-success" role="alert">
                    <center><h4>Campaña enviada con exito</h4>
                    {{ result }}
                    <p>Nuevos lead creados en vicidial <strong>{{ new_leads }}</strong></p></center>
                  </div>
                </div>
            </div>
        </div>
    </div>  
  {% endif %}

  <div>
    <br><hr>
    <h3>Dashboard carga <span style="color: darkred;">{{ nombre_carga }}</span> prioridad <span style="color: darkred;">{{ prioridad }}</span></h3>
  </div>
  

  {% if sin_datos %}
    <div id="accordionOne" class="border-rs">
      <div class="card">
          <div class="card-header" style="background-color: rgb(52, 58, 64);">
              <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                  <i class="fa fa-inbox" aria-hidden="true"></i> Estado Campaña
              </a>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
              <div class="card-body">
                <div class="alert alert-danger" role="alert">
                  <center><h4>{{ sin_datos }}</h4><p>Seleccione una campaña nuevamente.</p></center>
                </div>
              </div>
          </div>
      </div>
    </div>  
  {% endif %}

  <br>
  {% if existe_carga > 0 %}
  <div class="row">
    <div class="col-md-6">
      <div id="accordionOne" class="border-rs">
        <div class="card">
            <div class="card-header" style="background-color: rgb(52, 58, 64);">
                <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                    <i class="fa fa-line-chart" aria-hidden="true"></i> Marcación por carga de datos.
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6"><p>Cantidad Leads Creados <strong><span id="cantidad"></span></strong></p></div>
                    <div class="col-md-6"><p>Cantidad Marcados <strong><span id="marcados"></span></strong></p></div>
                  </div>
                  <div id="chartdiv"></div>
                </div>
                
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="accordionOne" class="border-rs">
          <div class="card">
              <div class="card-header" style="background-color: rgb(52, 58, 64);">
                  <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i> Confirmación
                  </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                  <div class="card-body"><br>
                    <div id="chartdiv2"></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
    <div class="col-md-8">
      <br>
      <div id="accordionOne" class="border-rs">
          <div class="card">
              <div class="card-header" style="background-color: rgb(52, 58, 64);">
                  <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i> Usuario atiende llamada
                  </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                  <div class="card-body">
                      <div id="chartdiv3"></div><br>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <div class="col-md-4">
        <br>
        <div id="accordionOne" class="border-rs">
            <div class="card">
                <div class="card-header" style="background-color: rgb(52, 58, 64);">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: white;">
                      <i class="fa fa-download" aria-hidden="true"></i> Descargar Reporte
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionOne">
                    <div class="card-body">                    
                          {% csrf_token %}        
                          <div class="form-group">
                            <label for="nombre_camp">Nombre campaña</label>
                            <input type="text" class="form-control" value="pruebafinal" name="nombre_carga" id="nombre_carga" disabled>
                            <label for="prioridad">Prioridad</label>
                            <input type="text" class="form-control" value="{{ prioridad }}" disabled><br>
                            <a class="btn btn-danger float-right btn-sm" href="https://dashbots.outsourcingcos.com/mios_voicebot/tuya/export/?nombre_carga={{ nombre_carga }}&prioridad={{ prioridad }}">Descargar Reporte</a>
                          </div>     

                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  {% endif %}  
</div>
  <br>
  <br>
  <br>
  <!-- Footer -->
  <footer id="sticky-footer" style="background: #731f1b;position: fixed; bottom: 0; width: 100%;
    height: 30px;">
    <div class="container text-center">
      <small style="color: whitesmoke">2019 - Copyright &copy; <a href="https://www.montechelo.com.co/" target="_blank" style="color: whitesmoke">Montechelo</a></small>
    </div>
  </footer>
  <!-- Footer -->

  <script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>
  {% if existe_carga > 0 %}
  <script>
    //ip_url = 'http://127.0.0.1:8000/' 
    ip_url = 'https://dashbots.outsourcingcos.com/'
    
    nombre_carga = "{{ nombre_carga }}"
    prioridad = "{{ prioridad }}"
    
    //GRAFICA MARCACION
    function Marcacion(cant_marcados, total_creado){
      // Themes begin
      am4core.useTheme(am4themes_dataviz);
      am4core.useTheme(am4themes_animated);

      // create chart
      var chart = am4core.create("chartdiv", am4charts.GaugeChart);
      chart.innerRadius = am4core.percent(82);
      chart.responsive.enabled = true;

      var axis = chart.xAxes.push(new am4charts.ValueAxis());
      axis.min = 0;
      axis.max = 100;
      axis.strictMinMax = true;
      axis.renderer.radius = am4core.percent(80);
      axis.renderer.inside = true;
      axis.renderer.line.strokeOpacity = 1;
      axis.renderer.ticks.template.disabled = false
      axis.renderer.ticks.template.strokeOpacity = 1;
      axis.renderer.ticks.template.length = 10;
      axis.renderer.grid.template.disabled = true;
      axis.renderer.labels.template.radius = 40;
      axis.renderer.labels.template.adapter.add("text", function(text) {
        return text + "%";
      })     

      var colorSet = new am4core.ColorSet();

      var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
      axis2.min = 0;
      axis2.max = 100;
      axis2.renderer.innerRadius = 10
      axis2.strictMinMax = true;
      axis2.renderer.labels.template.disabled = true;
      axis2.renderer.ticks.template.disabled = true;
      axis2.renderer.grid.template.disabled = true;

      var range0 = axis2.axisRanges.create();
      range0.value = 0;
      range0.endValue = 0;
      range0.axisFill.fillOpacity = 1;
      range0.axisFill.fill = colorSet.getIndex(0);

      var range1 = axis2.axisRanges.create();
      range1.value = 0;
      range1.endValue = 100;
      range1.axisFill.fillOpacity = 1;
      range1.axisFill.fill = colorSet.getIndex(2);

      var label = chart.radarContainer.createChild(am4core.Label);
      label.isMeasured = false;
      label.fontSize = 25;
      label.x = am4core.percent(0);
      label.y = am4core.percent(100);
      label.horizontalCenter = "middle";
      label.verticalCenter = "bottom";
      label.text = "0%";

      var hand = chart.hands.push(new am4charts.ClockHand());
      hand.axis = axis2;
      hand.innerRadius = am4core.percent(20);
      hand.startWidth = 10;
      hand.pin.disabled = true;
      hand.value = 0;

      hand.events.on("propertychanged", function(ev) {
        range0.endValue = ev.target.value;
        range1.value = ev.target.value;
        axis2.invalidate();
      });

      setInterval(function() {
        var value = (cant_marcados * 100)/total_creado;
        label.text = value + "%";
        var animation = new am4core.Animation(hand, {
          property: "value",
          to: value
        }, 1000, am4core.ease.cubicOut).start();
      }, 2000);
    }
    
    url_marcacion = ip_url+'mios_voicebot/tuya/api/grafica_marcacion/?nombre_carga='+nombre_carga+'&prioridad='+prioridad;
    axios.get(url_marcacion)
    .then(function (response) {
      can_leads = response.data[0].cantidad_leads
      marcados = response.data[0].marcado
      document.getElementById('marcados').innerHTML = marcados
      document.getElementById('cantidad').innerHTML = can_leads
      Marcacion(marcados,can_leads)
    })
    .catch(function (error) {
        console.log(error);
    })
    //------
    
    //confirmación    
    function Confirmacion(responseJson){
      // Themes begin
      am4core.useTheme(am4themes_dataviz);
      am4core.useTheme(am4themes_animated);
      // Themes end

      // Create chart instance
      var chart = am4core.create("chartdiv2", am4charts.PieChart);
      chart.responsive.enabled = true;
      // Add and configure Series
      var pieSeries = chart.series.push(new am4charts.PieSeries());
      pieSeries.dataFields.value = "cantidad";
      pieSeries.dataFields.category = "confirmacion";

      // Let's cut a hole in our Pie chart the size of 30% the radius
      chart.innerRadius = am4core.percent(30);

      // Put a thick white border around each Slice
      pieSeries.slices.template.stroke = am4core.color("#fff");
      pieSeries.slices.template.strokeWidth = 2;
      pieSeries.slices.template.strokeOpacity = 1;
      pieSeries.slices.template
        // change the cursor on hover to make it apparent the object can be interacted with
        .cursorOverStyle = [
          {
            "property": "cursor",
            "value": "pointer"
          }
        ];

      pieSeries.alignLabels = false;
      pieSeries.labels.template.bent = true;
      pieSeries.labels.template.radius = 3;
      pieSeries.labels.template.padding(0,0,0,0);

      pieSeries.ticks.template.disabled = true;

      // Create a base filter effect (as if it's not there) for the hover to return to
      var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
      shadow.opacity = 0;

      // Create hover state
      var hoverState = pieSeries.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

      // Slightly shift the shadow and make it more prominent on hover
      var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
      hoverShadow.opacity = 0.7;
      hoverShadow.blur = 5;

      // Add a legend
      chart.legend = new am4charts.Legend();

      chart.data = responseJson;
    }

    url_confirmacion = ip_url+'mios_voicebot/tuya/api/grafica_confirmacion/?nombre_carga='+nombre_carga+'&prioridad='+prioridad;
    axios.get(url_confirmacion)
    .then(function (response) {
      var responseJson = response.data;
      Confirmacion(responseJson)
    })
    .catch(function (error) {
        console.log(error);
    })

    function Transferencias(responseJson){
      
      // Themes begin
      am4core.useTheme(am4themes_dataviz);
      am4core.useTheme(am4themes_animated);
      // Themes end

      // Create chart instance
      var chart = am4core.create("chartdiv3", am4charts.XYChart);

      // Add data
      chart.data = responseJson;

      // Create axes
      var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "nombre_carga";
      categoryAxis.numberFormatter.numberFormat = "#";
      categoryAxis.renderer.inversed = true;
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.cellStartLocation = 0.1;
      categoryAxis.renderer.cellEndLocation = 0.9;

      var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis()); 
      valueAxis.renderer.opposite = true;

      // Create series
      function createSeries(field, name) {
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueX = field;
        series.dataFields.categoryY = "nombre_carga";
        series.name = name;
        series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
        series.columns.template.height = am4core.percent(100);
        series.sequencedInterpolation = true;

        var valueLabel = series.bullets.push(new am4charts.LabelBullet());
        valueLabel.label.text = "{valueX}";
        valueLabel.label.horizontalCenter = "left";
        valueLabel.label.dx = 10;
        valueLabel.label.hideOversized = false;
        valueLabel.label.truncate = false;

        var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
        categoryLabel.label.text = "{name}";
        categoryLabel.label.horizontalCenter = "right";
        categoryLabel.label.dx = -10;
        categoryLabel.label.fill = am4core.color("#fff");
        categoryLabel.label.hideOversized = false;
        categoryLabel.label.truncate = false;
      }
      createSeries("contestadas", "Contestadas");
      createSeries("no_contestadas", "No contestadas");
    }

    url_atiende_llamada = ip_url+'mios_voicebot/tuya/api/grafica_atiendellamda/?nombre_carga='+nombre_carga+'&prioridad='+prioridad;
    axios.get(url_atiende_llamada)
    .then(function (response) {
      var responseJson = response.data;
      Transferencias(responseJson)
    })
    .catch(function (error) {
        console.log(error);
    })


  </script>
  {% endif %}
</body>
</html>
